*{
    margin: 0;
    padding: 0;
}

$colorprincipal:rgb(237, 143, 37);
$tipografia: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

@import "partials/header";
@import "partials/footer";

.box{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: black;
    width: 200px;
}

.boxSecundario{
   @extend .box;
   color: brown;

   @mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
   }

   .caja{
    @include flex;
   }
   


}